@import url("https://fonts.googleapis.com/css2?family=Chonburi");
.ant-layout-header {
  background-color: #3a6147;
  height: 49px;
}
.bgimg {
  display: flex;
  margin-left: -40px;
  padding: 5px;
  display: inline-flex;
}
.hamburger-transition {
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
}
