.App {
  text-align: center;
  background: #f0efed;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.headcal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #3a6147;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.headheng {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 22px;
  flex-shrink: 0;
  color: #3a6147;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.formloan {
  color: #515151;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 100px;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.boxformloan {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
}
.boxform1 {
  margin-top: 50px;
  display: inline;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}
.PL {
  color: #dad5cf;
  margin-right: 123px;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  background: #3a6147;
  font-size: 20px;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  border: 0px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.HP {
  color: #dad5cf;
  width: 450px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3a6147;
  font-size: 20px;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  border: 0px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.boxform2 {
  margin-top: 50px;
  display: inline;
  margin-bottom: 20%;
}
.PU {
  color: #dad5cf;
  margin-right: 123px;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  background: #3a6147;
  font-size: 20px;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  border: 0px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.NANO {
  color: #dad5cf;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  background: #3a6147;
  font-size: 20px;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  border: 0px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.PL:hover,
.HP:hover,
.PU:hover,
.NANO:hover {
  background-color: #f0efed;
  color: #3a6147;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Loadingpage {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1200px) {
  .App {
    height: auto;
  }
  .formloan {
    margin-top: 0px;
  }
  .boxformloan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .PL {
    margin-left: 10px;
    margin-right: 10px;
    width: 560px;
    font-size: 18px;
  }
  .HP {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 560px;
    font-size: 18px;
  }
  .boxform1 {
    margin-bottom: -50px;
  }
  .PU {
    margin-left: 10px;
    margin-right: 10px;
    width: 560px;
    font-size: 18px;
  }
  .NANO {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 560px;
    font-size: 18px;
    margin-bottom: 20%;
  }
  .headcal {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .headheng {
    flex-shrink: 0;
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .App {
    text-align: center;
    height: auto;
  }
  .formloan {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .boxformloan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .PL {
    margin-left: 10px;
    margin-right: 10px;
    width: 335px;
  }
  .HP {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 335px;
  }
  .boxform1 {
    margin-bottom: -50px;
    margin-top: 25px;
  }
  .boxform2 {
    margin-bottom: 0px;
  }
  .PU {
    margin-left: 10px;
    margin-right: 10px;
    width: 335px;
  }
  .NANO {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 335px;
    margin-bottom: 20%;
  }
  .headcal {
    font-size: 2rem;
    font-style: normal;
    margin-top: 20px;
  }
  .headheng {
    margin-top: 10px;
    flex-shrink: 0;
    font-size: 2rem;
  }
}
